body {
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 100vw;
    height: 100vh;

    background: #FFFFFF;

    font-family: 'Kameron';
}

.list-title {
    position: absolute;
    width: 368px;
    height: 72px;
    left: 130px;
    top: 0px;

    background: #FFFFFF;

    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

    color: #93A659;
}

.list {
    color: #93A659;;
}

.item-container {
    position: absolute;
    width: 366px;
    height: 808px;
    left: 136px;
    top: 60px;

    background: linear-gradient(0deg, #DAF292, #DAF292), linear-gradient(0deg, #DAF292, #DAF292), #DAF292;
    border-radius: 50px;
}

.list-item {
    position: absolute;
    width: 304px;
    height: 52px;
    left: 31px;
    top: 53px;

    background: #EAF5CD;
    
    font-size: 20px;
}

.item-description {
    display: flex;
    justify-content: space-between;
}

.item-title {
    margin: 16px 0px 16px 0px;
}

.create-item {
    position: absolute;
    width: 304px;
    height: 52px;

    background: #EAF5CD;

    text-align: center;
    border-radius: 30px;
}

.create-title {
    margin: 16px 0px 16px 0px;
}

.create-input {
    margin: 16px 0px 16px 0px;
    width: 60%;
}

.create-inputting {
    display: none;
}