body {
    font-family: "Kameron";
    width: 1250px;
    margin: 50px 15vw 50px 15vw;
}

.lists {
    width: 1250px;
}

.list {
    color: #93A659;
    width: 400px;
    display: inline-block;
}

.list-items {
    background: #DAF292;
    border-radius: 30px;
    padding: 20px;

    width: 350px;
    height: 700px;

    font-size: 25px;

    overflow: scroll;
}

.list-title {
    font-size: 30px;
    text-align: center;
    
    width: 390px;
}

.list-item-background {
    background: #EAF5CD;

    width: 100%;
    height: 50px;

    margin-top: 5px;
}

.list-item {
    width: 100%;
    height: 50px;

    display: inline-block;

    margin-top: 10px;
    margin-left: 20px;
}

.add-list-item {
    background: #EAF5CD;
    border-radius: 10px;

    width: 100%;

    margin-top: 5px;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.add-list-item:hover {
    cursor: pointer;
}

.item-input {
    width: 250px;
    height: 30px;
    border: none;

    background: #EAF5CD;

    font-family: inherit;
    font-size: inherit;

    color: #93A659;
}

.item-delete:hover {
    cursor: pointer;
}

.title-input {
    height: 30px;
    border: 0px;

    font-family: "Kameron";

    font-size: 30px;
    text-align: center;

    color: #93A659;
}